.anim-fade-in {
  opacity: 0;
  animation: fade-in 1s ease forwards;
}

.anim-bounce {
  transform: scale(1);
  animation: bounce 0.3s ease;
}

.anim-slide-right {
  position: relative;
  left: -500px;
  animation: slide-right 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.anim-fade-zoom-in {
  opacity: 0;
  animation: fade-zoom-in 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.anim-fade-zoom-in-left {
  opacity: 0;
  animation: fade-zoom-in-left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.anim-fade-zoom-in-right {
  opacity: 0;
  animation: fade-zoom-in-right 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.anim-slide-top {
  transform: translateY(-100px);
  animation: slide-top 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

$delays: 300ms, 700ms, 1000ms;

@each $delay in $delays {
  .anim-delay-#{$delay} {
    animation-delay: $delay;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    left: -500px;
  }
  to {
    left: 0;
  }
}

@keyframes fade-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-zoom-in-left {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.6) ;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes fade-zoom-in-right {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.6);
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes slide-top {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translate(0px);
  }
}