@import url('https://fonts.googleapis.com/css2?family=Inter:wght@1;200;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

@font-face {
  font-family: Mangold;
  src: url('../assets/fonts/mangold.ttf');
}

body {
  background: #000;
  padding-inline: 24px;
  height: 100%;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  user-select: none;
}