.main-menu {
  width: 30vw;
  background: rgb(48, 10, 114);
  height: 100%;
  display: flex;
  align-items: flex-end;
  &__list {
    list-style: none;
    padding-left: 24px;
    li {
      font-weight: bold;
      font-style: italic;
      color: white;
      font-size: 3rem;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
        opacity: 0.5;
        transition: 0.3s ease opacity;
      }
    }
    & > li:not(:first-child) {
      margin-top: 24px;
    }
  }
}